<a href="https://colab.research.google.com/github/erickyudha/uts-lab-ai/blob/main/Erick%20Yudha%20Pratama%20Sukku_201401046_AI3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# UTS Lab AI 3

  **Erick Yudha Pratama Sukku**
  
  *201401046*

## Soal no.1

Buatlah sebuah program yang dapat menerima inputan kata atau frasa dari user dan menentukan apakah kata atau frasa tersebut merupakan sebuah Palindrome atau tidak!

In [96]:
# Terima input dari user
text = input("Masukkan text: ")

# Hapus space dan convert ke lowerspace
text = text.replace(" ", "").lower()

# Reverse string ke var baru
reverse_text = text[::-1]

# Bandingkan kedua text
if (text == reverse_text):
  print("Palindrome OK!")
else:
  print("Palindrome NO NO")

Masukkan text: Ibu ratna antar ubi
Palindrome OK!

## Soal no.2

Diberikan sebuah list dengan data sebagai berikut : [1, 2, 45, 31, 22, 88, 76, 44, 12, -5, 81, 90, 24, 0, 1, 4] Gunakan list tersebut untuk melakukan perbandingan nilai terkecil! Tampilkan perbandingan setiap angka dan pada akhir program, perlihatkan nilai terkecil dari list tersebut!

Contoh Output :
Nilai Terkecil = -12

In [97]:
list =  [1, 2, 45, 31, 22, 88, 76, 44, 12, -5, 81, 90, 24, 0, 1, 4]

# inisialisasi dengan angka pertama di list
min_num = list[0]

for num in list:
  print(f'{min_num} {num}')
  if (num < min_num):
    min_num = num
print(min_num)
print()

print(f'Nilai Terkecil = {min_num}')

1 1
1 2
1 45
1 31
1 22
1 88
1 76
1 44
1 12
1 -5
-5 81
-5 90
-5 24
-5 0
-5 1
-5 4
-5

Nilai Terkecil = -5

## Soal no.3

Perhatikan Lists Berikut!

**A = [27, 54, 89, 12, 99]**

**B = [5, 66, 32, 71, 12]** 

Tanpa menggunakan Library, swap semua nilai dari kedua lists tersebut! (List A akan menampilkan isi dari
List B, begitu juga sebaliknya)

*Note : Gunakan operasi variable untuk melakukan swap. Jangan dilakukan secara manual.*

In [98]:
A = [27, 54, 89, 12, 99]
B = [5, 66, 32, 71, 12]

# swap isi list A dan B
A, B = B, A

print("List A setelah diswap: ", A)
print("List B setelah diswap: ", B)

List A setelah diswap:  [5, 66, 32, 71, 12]
List B setelah diswap:  [27, 54, 89, 12, 99]

## Soal no.4

Dengan menggunakan Library Pandas, Buatlah sebuah program untuk menghitung jumlah dan baris dan kolom pada file!

Dataset: IMDB Top 250 Movies

Source: https://www.kaggle.com/datasets/karkavelrajaj/imdb-top-250-movies

File uploaded to GitHub for Direct Download

In [99]:
# Download file
!wget https://raw.githubusercontent.com/erickyudha/uts-lab-ai/main/movies.csv

--2023-05-11 07:07:50--  https://raw.githubusercontent.com/erickyudha/uts-lab-ai/main/movies.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13570583 (13M) [text/plain]
Saving to: ‘movies.csv.2’

movies.csv.2        100%[===================>]  12.94M  --.-KB/s    in 0.05s

2023-05-11 07:07:51 (252 MB/s) - ‘movies.csv.2’ saved [13570583/13570583]

In [100]:
import pandas as pd

# membaca file csv menggunakan library pandas
df = pd.read_csv("movies.csv")

# Tampilkan jumlah baris dan kolom pada file
print("N Baris: ", len(df))
print("N Kolom: ", len(df.columns))

N Baris:  250
N Kolom:  22

## Soal no.5

Dengan menggunakan Linear Regression dan Library Scikit-Learn, buatlah sebuah program yang digunakan
untuk memprediksi harga rumah berdasarkan luas tanah dan jumlah kamar tidur. Data Harga Rumah boleh
dalam ratusan juta (IDR) atau dalam ribuan ribu dollar (USD) dan luas tanah dalam meter persegi. Pada
dataset, terdapat minimal 50 rumah didalamnya. Dataset dapat dicari melalui internet atau dibuat sendiri.
Gunakan Library Python lainnya apabila diperlukan untuk menyelesaikan soal ini.

### Load Dataset

Dataset: Seattle House Sales Prices

Source: https://www.kaggle.com/datasets/sameersmahajan/seattle-house-sales-prices

File uploaded to GitHub for Direct Download

In [101]:
# Download file
!wget https://raw.githubusercontent.com/erickyudha/uts-lab-ai/main/house_sales.csv

--2023-05-11 07:07:51--  https://raw.githubusercontent.com/erickyudha/uts-lab-ai/main/house_sales.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2381890 (2.3M) [text/plain]
Saving to: ‘house_sales.csv.1’

house_sales.csv.1   100%[===================>]   2.27M  --.-KB/s    in 0.02s

2023-05-11 07:07:51 (92.4 MB/s) - ‘house_sales.csv.1’ saved [2381890/2381890]

In [102]:
import pandas as pd

# Load Dataset
data = pd.read_csv("house_sales.csv")

# Hapus row dengan nilai null
data = data.dropna()
data

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

### Preprocessing

Analisis Linear Regression akan menggunakan 2 variabel ini:

*   Bedroom Nums
*   House Area (meter squared)

Untuk memprediksi:
  
*   House Price (IDR or USD)

Untuk House Price sudah USD dengan asumsi dataset harga rumah di Seattle, USA.


---


Untuk Bedrooms number sudah aman juga.


---


Untuk House Area, akan dikalkulasi dengan menjumlahkan:

```
area = sqft_living + sqft_lot
```
Setelah itu value akan dikonversi dari foot ke m2

In [103]:
# Menghitung area dan konversi ke meter persegi
area = (data['sqft_living'] + data['sqft_lot']) / 10.764

data_new = pd.DataFrame({
    'bedrooms': data['bedrooms'],
    'area': area,
    'price': data['price']
    })
data_new

       bedrooms         area   price
0             3   634.522482  221900
1             3   911.557042  538000
2             2  1000.557414  180000
3             4   646.599777  604000
4             3   906.726124  510000
...         ...          ...     ...
21608         3   247.212932  360000
21609         4   754.645113  400000
21610         2   220.178372  402101
21611         3   370.494240  400000
21612         2   194.723151  325000

[21613 rows x 3 columns]

In [104]:
# Hapus nilai outliers dengan IQR (Interquartile Range)
# menghapus nilai ekstrim pada kolom price dan area
Q1 = data_new[['price', 'area']].quantile(0.25)
Q3 = data_new[['price', 'area']].quantile(0.75)
IQR = Q3 - Q1
data_new = data_new[~((data_new[['price', 'area']] < (Q1 - 1.5 * IQR)) | (data_new[['price', 'area']] > (Q3 + 1.5 * IQR))).any(axis=1)]
data_new

       bedrooms         area   price
0             3   634.522482  221900
1             3   911.557042  538000
2             2  1000.557414  180000
3             4   646.599777  604000
4             3   906.726124  510000
...         ...          ...     ...
21608         3   247.212932  360000
21609         4   754.645113  400000
21610         2   220.178372  402101
21611         3   370.494240  400000
21612         2   194.723151  325000

[18381 rows x 3 columns]

### Membuat Model

In [105]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

# memisahkan variabel independent dan dependent
X = data_new[['bedrooms', 'area']]
y = data_new['price']

# membuat objek Linear Regression
regressor = LinearRegression()

# melatih model menggunakan data training
regressor.fit(X.values, y.values)

LinearRegression()

### Hasil Program Akhir

Berikut program akhir untuk memprediksi harga rumah (USD) di Seattle berdasarkan jumlah bedroom dan luas tanah (m^2)

In [106]:
# Masukan Input User
bedroom_n = input("Masukan Jumlah Bedroom: ")
area = input("Masukkan Luas Properti (m^2): ")
print()

price = regressor.predict([[int(bedroom_n), float(area)]])
print(f'Prediksi Harga (USD): {price[0]}')

Masukan Jumlah Bedroom: 5
Masukkan Luas Properti (m^2): 1000

Prediksi Harga (USD): 574421.9377511523

## Soal no.6

Buatlah sebuah program sederhana menggunakan Algoritma K-Nearest Neighbors yang berbasis di kehidupan sehari-hari! Dataset boleh dibuat sendiri atau dicari di Internet.

Target dari soal ini adalah untuk membuat:

**PROGRAM PREDIKSI KUALITAS SUSU BERDASARKAN KARAKTERISTIKNYA**

### Load Dataset

Nama Dataset: Milk Quality Prediction

Source: https://www.kaggle.com/datasets/cpluzshrijayan/milkquality

File di upload ke GitHub untuk direct download

In [107]:
# Download file
!wget https://raw.githubusercontent.com/erickyudha/uts-lab-ai/main/milknew.csv

--2023-05-11 07:08:04--  https://raw.githubusercontent.com/erickyudha/uts-lab-ai/main/milknew.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 26586 (26K) [text/plain]
Saving to: ‘milknew.csv.1’

milknew.csv.1       100%[===================>]  25.96K  --.-KB/s    in 0s

2023-05-11 07:08:04 (104 MB/s) - ‘milknew.csv.1’ saved [26586/26586]

In [108]:
import pandas as pd

# Load Dataset
milk_data = pd.read_csv("milknew.csv")

# Hapus row dengan nilai null
milk_data = milk_data.dropna()
milk_data

       pH  Temprature  Taste  Odor  Fat   Turbidity  Colour   Grade
0     6.6          35      1     0     1          0     254    high
1     6.6          36      0     1     0          1     253    high
2     8.5          70      1     1     1          1     246     low
3     9.5          34      1     1     0          1     255     low
4     6.6          37      0     0     0          0     255  medium
...   ...         ...    ...   ...   ...        ...     ...     ...
1054  6.7          45      1     1     0          0     247  medium
1055  6.7          38      1     0     1          0     255    high
1056  3.0          40      1     1     1          1     255     low
1057  6.8          43      1     0     1          0     250    high
1058  8.6          55      0     1     1          1     255     low

[1059 rows x 8 columns]

### Preprocessing

Untuk analisis K-NN akan dilakukan untuk prediksi grade milk berdasarkan variabel berikut:
*   pH (ranges from 3 to 9.5 max)
*   Temprature (ranges from 34'C to 90'C max)
*   Odor (categorical data 0 (Bad) or 1 (Good) max)

In [109]:
milk_data.drop(columns=['Taste', 'Fat ', 'Turbidity', 'Colour'], axis=1, inplace=True)
milk_data

       pH  Temprature  Odor   Grade
0     6.6          35     0    high
1     6.6          36     1    high
2     8.5          70     1     low
3     9.5          34     1     low
4     6.6          37     0  medium
...   ...         ...   ...     ...
1054  6.7          45     1  medium
1055  6.7          38     0    high
1056  3.0          40     1     low
1057  6.8          43     0    high
1058  8.6          55     1     low

[1059 rows x 4 columns]

### Membuat Model

In [110]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# split data into features and labels
X = milk_data.drop('Grade', axis=1)
y = milk_data['Grade']

# split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# create K-NN model
knn = KNeighborsClassifier(n_neighbors=3)

# fit the model using the training data
knn.fit(X_train, y_train)

# make predictions on the testing data
y_pred = knn.predict(X_test)

# evaluate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print('Accuracy:', accuracy)

Accuracy: 0.9481132075471698

### Hasil Akhir Program

Program grading kualitas susu berdasarkan karakteristiknya

In [111]:
# Masukkan Input User
ph = float(input("Input pH Susu: "))
temp = float(input("Input Temperatur Susu ('C): "))
odor_raw = input("Apakah Susu Memiliki Odor? (Y/N): ").lower()
odor = ''

if (odor_raw == "y"):
  odor = 1
elif (odor_raw == "n"):
  odor = 0
else:
  print("invalid input")
  quit()

print()

# Prediksi Grade Susu
grade = knn.predict([[ph, temp, odor]])
print(f'Grade susu adalah {grade[0]}')

Input pH Susu: 7
Input Temperatur Susu ('C): 14
Apakah Susu Memiliki Odor? (Y/N): n

Grade susu adalah medium

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(